.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 54px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(40, 29, 176, 1),
    rgb(5, 0, 55) 0%,
    rgb(44, 33, 197)
  );
  color: #fff;
  transition: background 0.9s ease, box-shadow 0.9s ease;
  outline: none;
  border-radius: 80px;
  text-decoration: none;
  white-space: nowrap;

  @media (max-width: 480px) {
    padding: 10px 36px;
    font-size: 16px;
  }
}

.button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;

}

.button:hover {
  background: linear-gradient(
    90deg,
    rgba(60, 70, 255, 1),
    rgba(30, 40, 150, 1) 0%,
    rgba(0, 0, 120, 1) 100%
  );
  box-shadow: 0 0 0 2px rgba(40, 29, 176, 1),
    0 0 10px 5px rgba(40, 29, 176, 0.5),
    0 0 20px 10px rgba(6, 0, 70, 0.8);
}

.button:focus {
  outline: none;
}